In [5]:
import numpy as np
import pandas as pd
from functions import basic

In [10]:
# Reading initial positions file and saving positions into a dataframe
filename = "fcc100a256.txt"
atoms_position = basic.read_file(filename)
atoms_position.head()

        x       y    z
0  2.0802  2.0802  0.0
1  0.0000  0.0000  0.0
2  0.0000  4.1604  0.0
3  2.0802  6.2406  0.0
4  0.0000  8.3208  0.0